body,html{
    height: 100%;
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
}

.card{
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    padding: 2%;
    border-radius: 15px;
}
.card-title{
    font-size: 3vh;
}
.card-subtitle{
    color:hsl(75, 94%, 57%);
    font-size: 2vh;
}

.userPicture{
    width: 12vh;
}

.userDes {
    font-size: 1.5vh;
    color:#a6adb9;
}

.linkBtn{
    font-size: 2vh;
    background-color: hsl(0, 0%, 20%);
}