* {
}

body,html{
    height: 100%;
    background-color: hsl(0, 0%, 8%);
}

.card{
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
}

.card-subtitle{
    color:hsl(75, 94%, 57%);
}

.userPicture{
    width: 15%;
}